name: PR auto-merger

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '11 01 * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: install hub
      run: |
        hub_version="2.14.2"
        hub_filename="hub-linux-amd64-${hub_version}"
        downloadUrl="https://github.com/mislav/hub/releases/download/v${hub_version}/${hub_filename}.tgz"
        curl -fsSL ${downloadUrl} -o /tmp/${hub_filename}.tgz
        tar xzf /tmp/${hub_filename}.tgz -C /tmp/
        sudo mv /tmp/${hub_filename}/bin/hub /usr/local/bin
        hub --version
      shell: bash

    - name: Ensure pulltergeist.sh is executable
      run: chmod +x ./pulltergeist.sh
      shell: bash

    - name: Run the script
      run: ./pulltergeist.sh
      shell: bash
      env:
        TXTOKEN: ${{ secrets.DHIS2_APPS_TX_TOKEN }}
        GITHUB_USER: ${{ secrets.DHIS2_GITHUB_USER }}
        GITHUB_PASSWORD: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
        GH_TOKEN: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
        DEBUG: 1

